.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  box-sizing: border-box;
}

.movieItem {
  margin: 0.4rem 0;
}

.movieItem button {
  cursor: pointer;
  background: none;
  border: 0;
  padding: 0;
  font: inherit;
}
