# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Node
node_modules/
build/

# Local environment files
.env
.env.*

# OS/editor files
.DS_Store
Thumbs.db
.vscode/
.idea/
